/****************************************************************************************************
*   Stanford Theming File
*
*   Contains all the theme color definitions for the Stanford Open Source MOOC Project
*
****************************************************************************************************/
//Release: Eucalyptus.3 for IIMB
//Description: base variable SCSS file imported from edx-platform for comprehensive theming
//Author: Nitin Ayer
//Date: 06/03/2017
@import 'lms/static/sass/partials/base/variables';


//-----------------
//  Color variables (from Stanford palette unless noted)
//-----------------

//Release: IIMBX Ficus release
//Description: default stanford theme colour commented
//Author: Nitin Ayer
//Date: 20/07/2017

//Main Color Variables
//$main-color: #f7691f;
//$dark-color: #ea281f; //Link Color
//$light-color: #f4e00c; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
//$bg-color: #f7fe81; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//Main BG Color Variables
//$main-bg: #822537;
//$main-bg-60: lighten($main-bg, 18.5%); //Main Border/HR Color
//$main-bg-25: lighten($main-bg, 25%); 

//Secondary Color Variables
//$secondary: #b5a4b7;
//$secondary-50: lighten($secondary, 9%);
//$secondary-25: lighten($secondary, 20%); //Important Heading BG Color 

//Gray Color Variables
//$gray: #3f3f3f; //Main Text Color
//$gray-75: lighten($gray, 18.25%); //Lighter Text Color

//$gray-3: #e9e9e9; //Block/Course BG Color
//$gray-2: #f2f2f2;
//$gray-1: #fbfbfb; //Main BG Color
//$white: $gray-1;

//$black: #2e2e2e;
//$black-80: #585858;


//Release: IIMBX Ficus release
//Description: main-color, dark-color, main-bg, main-bg-60, main-bg-25, secondary, gray-1, white, black-80 colours changed.
//Author: Nitin Ayer
//Date: 20/07/2017
//Main Color Variables
$main-color: #9E0B0F;;
$dark-color: #B11117; //Link Color
$light-color: #f4e00c; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$bg-color: #f7fe81; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//Main BG Color Variables
$main-bg: #8B0304;
$main-bg-60: $main-bg;
$main-bg-25: $main-bg;

//Secondary Color Variables
$secondary: #B9B9B9;
$secondary-50: lighten($secondary, 9%);
$secondary-25: lighten($secondary, 20%); //Important Heading BG Color 

//Gray Color Variables
$gray: #3f3f3f; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #e9e9e9; //Block/Course BG Color
$gray-2: #f2f2f2;
$gray-1: #F7F7F7; //Main BG Color
$white: #FFFFFF;

$black: #2e2e2e;
$black-80: #3D3E3F;

//Release: Eucalyptus.3 for IIMB
//Description: New color variable defined
//1. gray-4: New color variable define for font colour
//2. course_block-bg: New color variable for course backgound color on index page.
//3. table-coloumn_bg: New color variable define for background color
//4. search-bar-gray: New color variable for course search background
//5. black_font_color: New color variable for font color
//Author: Nitin Ayer
//Date: 06/03/2017
$gray-4: #555555;
$course_block-bg: #e9e9e9;
$table-coloumn_bg: #B7BFC6;
$search-bar-gray: #CCCCCC;
$black_font_color: #000000;



//-----------------
//  Font Assignment
//-----------------

$theme-sans-font: 'Source Sans';
$sans-serif: $theme-sans-font, $sans-serif;
$body-font-family: $sans-serif;

$theme-serif-font: 'Crimson Text';
$serif: $theme-serif-font, $serif;

$font_family1: $sans-serif;




//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $gray-1;
$container-bg: $gray-1;
$login-register-bg: $gray-1;
$content-wrapper-bg: $gray-1;
$header-image: none;
//Release: Eucalyptus.3 for IIMB
//Description: Header background changed
//Author: Nitin Ayer
//Date: 06/03/2017
//$header-bg: transparentize(lighten($secondary-25, 18.5%), .25);
$header-bg: transparentize($secondary-25, 0.05);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($secondary, 18.5%), .25);
$footer-bg: $secondary-25;
$courseware-footer-border: 1px solid $main-bg-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-2: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-3: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-4: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-5: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-6: linear-gradient($main-bg-60 0%, $main-bg-60);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;

$link-color: $dark-color;
$link-color-d1: $dark-color;
//Release: Eucalyptus.3 for IIMB
//Description: link hover color changed
//Author: Nitin Ayer
//Date: 06/03/2017
//$link-hover: $light-color;
$link-hover: $link-color;
$site-status-color: $bg-color;

$header-graphic-super-color: $dark-color;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $dark-color;
$header-link-hover: $light-color;

$button-color: $main-color;
$button-archive-color: $gray-3;

$shadow-color: $gray;

// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;

// actions - primary
$action-primary-bg: $main-color;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-color;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $dark-color;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: $secondary;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $secondary-50;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $secondary-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: $main-bg-60;
$border-color-2: $main-bg-60;
$border-color-3: $main-bg-60;
$outer-border-color: $main-bg-60;

$sidebar-color: $gray-1;

$homepage__header--gradient__color--alpha: $secondary-25;
$homepage__header--gradient__color--bravo: $secondary-25;
$homepage__header--background: $secondary-25;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $secondary-25;
$dashboard-profile-color: $gray-3;
$dot-color: $main-bg-60;

$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
//Release: Eucalyptus.3 for IIMB
//Description: homepage image URL changed
//Author: Nitin Ayer
//Date: 06/03/2017

$homepage-bg-image: url('../images/homebanner.png');

$login-banner-image: none;
$register-banner-image: none;

//Release: Eucalyptus.3 for IIMB
//Description: Background images variable for static pages
//Author: Nitin Ayer
//Date: 06/03/2017

//BG image for FAQ page
$iitbx_faq_image01: url('../images/FAQ/arrow_up.png');
$iitbx_faq_image02: url('../images/FAQ/arrow_down.png');

//$video-thumb-url: '/static/images/edx.png';

//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    top: 0;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}


//-----------------
// Override CSS
//-----------------
//Release: IIMBx Ficus release
//Description: html background changed
//Author: Nitin Ayer
//Date: 22/07/2017
html {
    //background-color: $secondary-25 !important;
    background-color: $white !important;
}

//Release: IIMBx Ficus release
//Description: Width for the body added
//Author: Nitin Ayer
//Date: 22/07/2017
body {
    min-width: 1200px;
    width: 100%;
    display: table;
}

//-----------------
// Header Styling
//-----------------
.home>header {
    height: 500px;

    .outer-wrapper {
        padding: 120px 0 !important;
    }
}

//-----------------
// Footer Styling
//-----------------
.wrapper-footer {
    box-shadow: none !important;
    
    footer {
        max-width: 1180px;
        margin: 0 auto;

        .colophon {
            width: 80%;
            float: left;

            .nav-colophon li {
                display: inline-block;
                height: 35px;
                float: left;
                margin: 0 20px 20px 0;
            }
        }

        .references {
            width: 15%;
            float: right;
        }
    }

    .copyright {
        clear: both;
    }
}

//-----------------
// TOS Styling
//-----------------
section.tos {
    box-sizing: border-box;
    padding: 0 50px;

    .print {
        margin: 50px 0;
    }
}


//Release: Eucalyptus.3 for IIMB
//Description: Link CSS
//Author: Nitin Ayer
//Date: 06/03/2017

.links-active {
  color: $button-color;
  text-decoration: none;
  font-family: $font_family1;
  outline: 0px;

  &:link, &:visited {
    color: $button-color;
    text-decoration: none;
    font-family: $font_family1;
    outline: 0px;
  }

  &:hover {
    color: $link-color;
    text-decoration: none !important;
    border-bottom: 1px dotted $link-color;
    font-family: $font_family1;
    outline: 0px;
  }

  &:active {
    color: $button-color;
    text-decoration: none;
    font-family: $font_family1;
    outline: 0px;
  }
}


.links {
  color: $gray-4;
  text-decoration: none;
  font-family: $font_family1;
  outline: 0px;

  &:link, &:visited {
    color: $gray-4;
    text-decoration: none;
    font-family: $font_family1;
    outline: 0px;
  }

  &:hover {
    color: $link-color;
    text-decoration: none !important;
    border-bottom: 1px dotted $link-color;
    font-family: $font_family1;
    outline: 0px;
  }

  &:active {
    color: $gray-4;
    text-decoration: none;
    font-family: $font_family1;
    outline: 0px;
  }
}

.links2 {
  color: $white;
  font-family: $font_family1;
  outline: 0px;

  &:link, &:visited {
    color: $white;
    font-family: $font_family1;
    text-decoration: underline;
    outline: 0px;
  }

  &:hover {
    color: $white !important;
    text-decoration: none !important;
    border-bottom: 1px dotted $white;
    font-family: $font_family1;
    outline: 0px;
  }

  &:active {
    color: $white;
    font-family: $font_family1;
    outline: 0px;
  }
}

.links_sidebar {
  color: $white;
  text-decoration: none;
  font-family: $font_family1;
  outline: 0px;

  &:link, &:visited {
    color: $white;
    text-decoration: none;
    font-family: $font_family1;
    outline: 0px;
  }

  &:hover {
    color: $link-color;
    text-decoration: none !important;
    border-bottom: 1px dotted $link-color;
    font-family: $font_family1;
    outline: 0px;
  }

  &:active {
    color: $link-color;
    text-decoration: none !important;
    border-bottom: 1px dotted $link-color;
    font-family: $font_family1;
    outline: 0px;
  }
}

.links-active2 {
  color: $button-color;
  text-decoration: none;
  font-family: $font_family1;
  outline: 0px;

  &:link, &:visited {
    color: $button-color;
    text-decoration: none;
    font-family: $font_family1;
    outline: 0px;
  }

  &:hover {
    color: $link-color;
    text-decoration: none !important;
    border-bottom: 1px dotted $link-color;
    font-family: $font_family1;
    outline: 0px;
  }

  &:active {
    color: $link-color;
    text-decoration: none !important;
    font-family: $font_family1;
    outline: 0px;
  }
}

//Release: Eucalyptus.3 for IIMB
//Description: 1. CSS for Course search box in header
//             2. CSS for course search box(after log in) in header added
//             3. Font size chnaged from 16px to 14px
//Author: Nitin Ayer
//Date: 18/04/2017
 .header-global .nav-courseware .title, .header-global .nav-global .title {
  margin: 0px;
  background: none;
  box-shadow: none;
  border: none;
  padding: 0px;
  float: left;
  display: block;
  box-sizing: border-box;
  transition: all 0.2s linear 0s;
  position: relative;
  min-height: 100%;
  vertical-align: middle;
 }

 .header-global .nav-global .title {
  margin: -3px 0px 0px 0px;
 }

 .header-global .nav-courseware .title form, .header-global .nav-global .title form{
  display: inline-block;
 }

 .header-global .nav-courseware .course-search .search-input, .header-global .nav-global .course-search .search-input{
  background: $search-bar-gray;
  border: 1px solid $white;
  height: 30px;
  z-index: 10;
  float: left;
  padding-right: 55px;
  padding-left: 10px;
  border-radius: 5px;
  box-shadow: none;
  width: 310px;
  color: $black;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  font-family:$font_family1;

  &:hover, &:focus, &:active, &:focus:not(:disabled), &:hover:not(:disabled){
   background: $search-bar-gray;
   border: 1px solid $white;
   border-radius: 5px;
   outline: 0px;
 }
}

 .header-global .nav-courseware .course-search .search-button, .header-global .nav-global .course-search .search-button {
  height: 30px;
  border: 2px solid transparent;
  background: transparent;
  z-index: 100;
  right: 0px;
  border-bottom-left-radius: 1px;
  position: absolute;
  color: $white;
  text-shadow: none;
  box-shadow: none;
  padding: 0 14px;
  font-weight: 600;

  &:hover, &:focus, &:active, &:focus:not(:disabled), :hover:not(:disabled){
    background: transparent;
    outline: 0px;
 }
}

 .header-global .nav-courseware .fa, .header-global .nav-global .fa {
  color: $white;
  font-size: 18px
 }

//Release: IIMBx Ficus release
//Description: Unenroll button CSS
//Author: Nitin Ayer
//Date: 23/07/2017

.modal { 
  .inner-wrapper {

    header h2 {
      font-family: $sans-serif;
      font-weight: 600;
    }

    form .submit input[type="submit"] {
      background: $button-color none repeat scroll 0px 0px;
      border: 0px none $white;
      border-radius: 5px;
      box-sizing: border-box;
      text-transform: uppercase;
      font-family: $sans-serif;
      font-weight: 600;
      padding: 4px 20px;
      text-align: center;
      text-decoration: none;
      text-shadow: none;
      line-height: normal;
      letter-spacing: 1px;

      &:focus:not(:disabled), hover:not(:disabled) {
        background-image: none;
        background-color: $link-color;
        box-shadow: none !important;
      }
    }
  }
}

//Release: IIMBx Ficus release
//Description: Search button CSS
//Author: Nitin Ayer
//Date: 23/07/2017
.search-bar {
  .search-button, .cancel-button {
    background: $button-color !important;

    &:hover, &:active, &:focus, &:focus:not(:disabled), &:hover:not(:disabled) {
      background: $link-color !important;
      outline: 0;
    }
  }
}

//Release: IIMBx Ficus release
//Description: Explore courses button CSS
//Author: Nitin Ayer
//Date: 23/07/2017
.empty-dashboard-message a {
  background: $button-color !important;
  border: 1px solid $button-color !important;
  font-weight: 600;

  &:hover, &:focus, &:active {
    background: $link-color !important;
    color: $white !important;
  }
}

//Release: Eucalyptus.3 for IIMB
//Description: New SCSS files related static pages imported
//Author: Nitin Ayer
//Date: 06/03/2017
@import '../../index'; //SCSS file related to index page
@import '../../register_login'; //SCSS file related to Register, Login and Password reset page
@import '../../courses_search'; //SCSS file related to Courses page
@import '../../courses_about'; //SCSS file related to Course About page
@import '../../tos'; //SCSS file related to TOS page
@import '../../privacy_policy';//SCSS file related to Privacy policy page
@import '../../contact'; //SCSS file related to Contact Us page
@import '../../faq'; //SCSS file related to Learners FAQ page
@import '../../_programme_faq'; //SCSS file related to Programmes FAQ pages
@import '../../_programme_overview'; //SCSS file related to Programmes Overview pages
@import '../../_faculty_details'; //SCSS file related to Faculty Programme at a Glance page
@import '../../_corporate_details'; //SCSS file related to Corporate Programme at a Glance page
@import '../../_academic_details'; //SCSS file related to Academic Programme at a Glance page
@import '../../_about'; //SCSS file related to About page
@import '../../_programmes'; //SCSS file related to Programmes page
