//Release: IITBX Ficus release
//Description: This file contains CSS related to Course About page.
//Author: Nitin Ayer
//Date: 22/07/2017

.courses_about_page {

  .header-global {
   position: fixed;
   top: 0px;
  }

  .content-wrapper{
    background: $gray-1;
    padding-bottom: 40px;
    margin-top: 76px;

    .course-info {


      .details {
	padding: 20px;
	margin: 0px;
	width: 64.9%;
      }

      .course-sidebar {
	border-left: 1px solid $border-color-l3;
	border-bottom: 1px solid $border-color-l3;

	header {

	  &:after {
	    background: none;
	    border-bottom: 1px solid $border-color-l3;
	  }
	}

	> .coursetalk-read-reviews {
        margin-top: 40px;
        }

	.important-dates li {
	  border-bottom: 1px dotted $border-color-l3;
	}
      }


      .course-profile {
	background-image: none;
	background: none;
        height: auto;
        margin-top: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
        box-shadow: none;
	border: none;

        .intro-inner-wrapper {
	  background: $white;
          box-shadow: none;
	  border: none;
          border-bottom: 1px solid $border-color-l3;
        }

        .intro-inner-wrapper {

	  .media {
            padding-left: 0px;

	    .hero {
	      border: none;
	    }
	  }

          .intro {

	    > .heading-group {
	      border: none;
	    }

            .main-cta {

	      span.register{
	        font-size: 18px;
		padding: 14px 30px 14px 30px;
		width: auto;
	      }

              a.register, strong{
		width: 35%;
		padding: 10px 50px;
                background: $button-color none repeat scroll 0px 0px;
                border: none;
                border-radius: 3px;
                box-sizing: border-box;
		font-size: 1.3em;
                font-weight: 700;
                text-decoration: none;
		text-transform : none;
                text-shadow: none;
                line-height: normal;

                &:hover, &:focus, &:active, &:focus:not(:disabled), :hover:not(:disabled) {
                  box-shadow: none !important;
                  background-image: none;
                  background-color: $link-color;

                }
              }
            }
          }
        }
      }

      .container {
	max-width: 1200px;
        padding: 0px;
        background: $white;
	border: 1px solid $border-color-l3;

	.teacher-image{
	  margin: 0px 20px 0px 0px !important;
	  padding: 0px !important;
	  border: 0px !important;
	  box-shadow: (3px 2px 5px $shadow-d1);
	}

	section, h1, h2, h3, p{
	  font-family: $font_family1;
	  color: $black;
	  line-height: normal;
	}

	.inner-wrapper > section > h2 {
	  margin-top: 0px;
	  font-weight: bold;
          text-transform: none;
          font-size: 1.25em;
	}

	.inner-wrapper > section > p {
	  font-size: 16px;
	  margin: 0px 0px 15px 0px;
	}

        .inner-wrapper .faq .responses {
	   margin-bottom: 0px;

	  > h2 {
            margin-top: 0px;
            font-weight: bold;
            text-transform: none;
            font-size: 1.25em;
          }

	  .response {
	    margin-bottom: 30px;

	   &:last-child {
	     margin-bottom: 0px;
	   }

	     > h3 {
               margin-top: 0px;
	       margin-bottom: 10px;
               font-weight: 600;
               text-transform: none;
               font-size: 1.15em;
             }

	     p {
	       font-size: 16px;
               margin: 0px 0px 10px 0px;
	    }
	  }
        }
      }
    }
  }
}
