//IITBombayX-2015, This file is created by Nitin Ayer, it contains CSS related to How it works page.

.how_it_works {
 .header-global {
  position: fixed;
  top: 0px;
 }
 
  .header-global nav {
   width: 1200px;
   max-width: 1200px;
   padding: 18px 0px 0px 0px; 
 }
 .wrapper-footer footer {
   width: 1200px;
   max-width: 1200px;
 }

 .wrapper-footer footer .open-edx_logo, #footer-openedx .open-edx_logo {
   padding-top: 1.8em !important;
 }

 .content-wrapper {
   padding-bottom: 0px;
   margin-top: 76px;
 }

  .outer_content{
    width: auto;
    margin: auto
    //max-width: 100%;
    //min-width: 1000px;
  }

  .main_content {
    width: 1200px;
    height: auto;
    margin: auto;
    background: $white;
 }

  .banner{
    border-bottom: 1px solid $border-color-l3;
    //border-bottom: 1px solid #BCBCBC;
 }

  .container {
    height: auto;
    margin: auto;
    padding: 25px;
    width: 1200px;
    max-width: 12000px;
 }

 .tagline{
   padding-top: 0px;
   padding-bottom: 0px;
 }

 .tagline_text{
   color: $black;
   font-family: $font_family1;
   text-align: center;
   font-size: 26px;
   font-weight: 400;
   text-transform: none;
   margin-bottom: 0px;
   letter-spacing: 0em;
   padding-top: 0px;
   padding-bottom: 25px;
 }

 .field-page-body{
   margin: auto;
 }

 .field-page-body p{
   color: $gray-4;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin: 0px 0px 16px 0px;
   word-wrap: break-word;
 }

 strong{
   color: $black;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   word-wrap: break-word;
 }

 .programmes{
   background-color: $course_block-bg;
   box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.1) inset, 0px -8px 8px -8px rgba(0, 0, 0, 0.1) inset;
   margin:auto;
   padding: 40px;
   margin-top: 40px;
 }

 .programmes ul {
   padding: 0px;
   margin: 0px;
 }

 .programmes ul li{
   display: inline-block;
   margin: auto;
   width: 33%;
   text-align: center;
   font-family: $font_family1;
 }

 .programme_text{
  font-family: $font_family1;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
 }

 .programme_link{
  top: -40px;
  position: relative;
  display: inline-block;
  z-index: 50;
  color: $white;
 }

 .programme_link a{
   color: $white;
   text-decoration: underline;
 }

 .programme_link a:hover, .programme_link a:focus, .programme_link a:visited:hover{
   color: $white;
   text-decoration: underline;
 }
}
