//Release: Eucalyptus.3 for IIMB
//Description: This file contains CSS related to Index page.
//Author: Nitin Ayer
//Date: 06/03/2017

.index-page {
  .home > header {
    background-position: center;
    border-bottom: 1px solid $gray-l1;
  }

  .header-global {
    position: fixed;
    top: 0px;
 }
}
