//Release: Eucalyptus.3 for IIMB
//Description: This file contains CSS related to Index page.
//Author: Nitin Ayer
//Date: 06/03/2017

.index-page {
//CSS for header
  .header-global nav {
   max-width: 1200px;
   width: 1200px;
   padding: 10px 0px 0px 0px;
  }

  .header-global{
   position: fixed;
   top: 0px;

   .nav-global {
    margin-top: 18px;

    li {
   vertical-align: top;
   }
  }

    h1.logo a img {
    height: 70px;
  }
 }

//CSS for home banner
 .home > header{
  width: 1200px;
  min-width: 1200px;
  height: 244px;
  margin: auto;
 }

//CSS for content-wrapper div
 .content-wrapper{
  margin-top: 76px;
  background: $white;
  padding-bottom: 40px;
 }

//CSS for homepage tagline/
 .tagline_container{
  width: 100%;
  margin: auto;
  padding: 0px;

  .tagline_content{
   width: 1200px;
   max-width: 1200px;
   margin: auto;
   padding: 0px;

   .tagline{
    padding: 0px;
    margin: 15px 15px 0px 15px;

    .tagline_text{
     color: $button-color;
     font-family: $font_family1;
     text-align: center;
     font-size: 26px;
     font-weight: 400;
     text-transform: none;
     margin: 0px;
     letter-spacing: 0em;
    }
   }

  p {
   color: $white;
   font-size: 22px;
   height: 12px;
   margin: 0px;
   padding: 0px;
   text-align: center;
   position: relative;
   top: 9px;
  }
 }
}

//CSS for Course listing background
 .courses-container{
  background-color: $course_block-bg;
  box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.1) inset, 0px -8px 8px -8px rgba(0, 0, 0, 0.1) inset;
  margin:auto;
  padding: 18px 8px 0px 7px;
  max-width: 1185px;
 }

//CSS for course listing tiles
 .home .highlighted-courses{
  margin-bottom: 0px;

  .courses{
   padding-top: 0px;

   .courses-listing .courses-listing-item {
    margin: 15px 7px 15px 8px;
    width: calc(25% - 15px);
  }
 }
}

//CSS to remove border of course tile
 .highlighted-courses .courses .course{
  border-left: none;
  border-top: none;
  border-right: none;
 }

//CSS for View all Courses button
 .courses-container .courses-more{
  text-align: center !important;
  display: table;
  margin: auto;
  padding-bottom: 20px;

  .courses-more-cta {
   display: table;
   background: $button-color none repeat scroll 0px 0px;
   border: 0px none $white;
   border-radius: 5px;
   box-sizing: border-box;
   color: $white;
   width: 100%;
   font-size: 18px;
   text-decoration: none;
   text-shadow: none;
   line-height: 18px;
   padding: 10px 20px;
   text-transform: none;
   letter-spacing: normal;
   font-family: $font_family1;

    &:hover {
     text-decoration: none;
     background-image: none;
     background-color: $link-color;
     color: $white;
    }

    &:focus, &:visited {
     box-shadow: none !important;
     text-decoration: none;
     color: $white;
   }

    &::after {
     content: none !important;
   }
  }
 }

//CSS for Image container
 .outer_container{
  width: 100%;
  margin: 40px 0px 0px 0px;
  background-color: $course_block-bg;
  box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.1) inset, 0px -8px 8px -8px rgba(0, 0, 0, 0.1) inset;

 .main_content{
  width: 1200px;
  max-width: 1200px;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 30px 0px 30px 0px;

  ul{
   margin: 0px;
   padding: 0px;
   list-style: none;

   li{
    display: inline-block;
    text-align: center;

    &:first-child {
     float: left;
    }

    &:last-child {
     float: right;
    }

    img {
     width: 200px;
    }

    p {
     font-size: 16px;
     font-weight: 400;
     color: $black;
     margin: 0px;
     padding: 10px 0px 10px 0px;	
     }
    }
   }
  }
 }
}
