//Release: Eucalyptus.3 for IIMB
//Description: This file contains CSS related to Register and Login page.
//Author: Nitin Ayer
//Date: 08/03/2017

.register_login_page {

  html {
    background: $white !important;
  }

  .header-global {
   position: fixed;
   top: 0px;
  }

  .content-wrapper{
    margin-top: 76px;
    background: $white;

    textarea, input[type="text"], input[type="email"], input[type="password"] {
      border: 1px solid $border-color-l2;
    }

    .ui-autocomplete {
      background-color: rgba($gray-l4, 0.95);
      width: 300px;
      padding: 25px;
      height: 100px;
      border: 1px solid #222;
      margin: 5px;
      overflow: scroll;
    }

    .ui-menu-item{
      list-style-type: none;

      a {
        color: $black !important;
        cursor: pointer;
      }
    }

    .ui-helper-hidden-accessible{
      display: none;
    }

    .login-register {

      .action-primary {
	background: $button-color none repeat scroll 0% 0%;
	box-shadow: 0px 2px 1px 0px $white;
	color: $gray-1;
	text-shadow: none;

	&:hover, &:focus {
	  box-shadow: none !important;
	  background: $link-color none repeat scroll 0% 0%;
	  outline: 0;
	}
      }

      .nav-btn {
	border: 1px solid $button-color;
	color: $button-color;

	&:hover {
	  box-shadow: 0px 2px 1px 0px $white;
	  background: $link-color none repeat scroll 0% 0%;
	  color: $gray-1;
	}

	&:focus {
	  box-shadow: none !important;
	  background: $link-color none repeat scroll 0% 0%;
	  color: $gray-1;
	  outline: 0px;
	}
      }

      .form-field {

	.field-link {
	  color: $button-color;

	  label a {
	    text-decoration: none;

	    &:hover {
	      border-bottom: 1px dotted $link-color;
	    }
	  }
	}
      }
    }
  }
}


//Release: Eucalyptus.3 for IIMB
//Description: This file contains CSS related to Password Reset page.
//Author: Nitin Ayer
//Date: 08/03/2017

.view-passwordreset {

  html {
    background: $white !important;
  }

  .header-global {
    position: fixed;
    top: 0px;
  }

  .content-wrapper{
    margin-top: 76px;
    background: $white;

    textarea, input[type="text"], input[type="email"], input[type="password"] {
      border: 1px solid $border-color-l2;
    }

    .login-register {

      .action-primary {
        background: $button-color none repeat scroll 0% 0%;
        box-shadow: 0px 2px 1px 0px $white;
        color: $gray-1;
        text-shadow: none;

        &:hover, &:focus {
	  box-shadow: none !important;
	  background: $link-color none repeat scroll 0% 0%;
	  outline: 0;
        }
      }
    }
  }

 .wrapper-footer {
  display: none;
 }
}
