//Release: Eucalyptus.3 for IIMB
//Description: This file contains CSS related to Register and Login page.
//Author: Nitin Ayer
//Date: 08/03/2017

.register_login_page {
//CSS for header
  .header-global nav {
   max-width: 1200px;
   width: 1200px;
   padding: 10px 0px 0px 0px;
  }

  .header-global{
   position: fixed;
   top: 0px;

   .nav-global {
    margin-top: 18px;

    li {
   vertical-align: top;
   }
  }

    h1.logo a img {
    height: 70px;
  }
 }

//CSS for content-wrapper div
 .content-wrapper{
  margin-top: 76px;
  background: $white;
  padding-bottom: 40px;
 }

 .ui-autocomplete {
  background-color: rgba($gray-l4, 0.95);
  width: 300px;
  padding: 25px;
  height: 100px;
  border: 1px solid #222;
  margin: 5px;
  overflow: scroll;
 }

 .ui-menu-item{
  list-style-type: none;
 }

 .ui-menu-item a {
  color: $black !important;
  cursor: pointer;
 }

 .ui-helper-hidden-accessible{
  display: none;
 }

 .login-register .action-primary {
  background: $button-color none repeat scroll 0% 0%;
  box-shadow: 0px 2px 1px 0px $white;
  color: $gray-1;
  text-shadow: none;

  &:hover{
   box-shadow: none !important;
   background: $link-color none repeat scroll 0% 0%;
  }

  &:focus{
   box-shadow: none !important;
   background: $link-color none repeat scroll 0% 0%;
   outline: 0px;
  }
 }

 .login-register .nav-btn {
  border: 1px solid $button-color;
  color: $button-color;

  &:hover {
   box-shadow: 0px 2px 1px 0px $white;
   background: $link-color none repeat scroll 0% 0%;
   color: $gray-1;
  }

  &:focus {
   box-shadow: none !important;
   background: $link-color none repeat scroll 0% 0%;
   color: $gray-1;
   outline: 0px;
  }
 }

 .login-register .form-field .field-link{
  color: $button-color;
 }

 .login-register .form-field label a {
  text-decoration: none;

   &:hover {
   border-bottom: 1px dotted $link-color;
  }
 }
}


//Release: Eucalyptus.3 for IIMB
//Description: This file contains CSS related to Password Reset page.
//Author: Nitin Ayer
//Date: 08/03/2017


.view-passwordreset {
//CSS for header
  .header-global nav {
   max-width: 1200px;
   width: 1200px !important;
   padding: 10px 0px 0px 0px;
  }

  .header-global{
   position: fixed;
   top: 0px;

   .nav-global {
    margin-top: 18px;

    li {
   vertical-align: top;
   }
  }

    h1.logo a img {
    height: 70px;
  }
 }

//CSS for content-wrapper div
 .content-wrapper{
  margin-top: 76px;
  background: $white;
  padding-bottom: 40px;
 }

//CSS for password reset button
 .login-register .action-primary {
  background: $button-color none repeat scroll 0% 0%;
  box-shadow: 0px 2px 1px 0px $white;
  color: $gray-1;
  text-shadow: none;

  &:hover{
   box-shadow: none !important;
   background: $link-color none repeat scroll 0% 0%;
  }

  &:focus{
   box-shadow: none !important;
   background: $link-color none repeat scroll 0% 0%;
   outline: 0px;
  }
 }

//CSS for footer
 .wrapper-footer {
  display: none;
 }
}
