//Release: Eucalyptus.3 for IIMB
//Description: This file contains CSS related to TOS page.
//Author: Nitin Ayer
//Date: 09/03/2017

.tos_page {
//CSS for header
  .header-global nav {
   max-width: 1200px;
   width: 1200px;
   padding: 10px 0px 0px 0px;
  }

  .header-global{
   position: fixed;
   top: 0px;

   .nav-global {
    margin-top: 18px;

    li {
   vertical-align: top;
   }
  }

    h1.logo a img {
    height: 70px;
  }
 }

//CSS for content-wrapper div
 .content-wrapper{
  margin-top: 76px;
  background: $white;
  padding-bottom: 40px;
 }

 .wrapper {
   color: $gray-4;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 1em;
 }

 .container {
   background-color: $white;
   clear: none;
   color: $gray-4;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   width: 1200px;
   max-width: 1200px;
   margin:auto;
   padding:0px;
 }

 .node-content {
   color: $gray-4;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   min-height: 1px;
   overflow: visible;
   word-wrap: break-word;
 }

 .main-content {
   color: $gray-4;
   display: block;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin-left: 0px;
   margin-right: 0px;
   padding: 25px 0px 25px 0px;
   word-wrap: break-word;
   height: 100%;
 }

 .fieldview {
   border-bottom: 1px solid $border-color-l3;
   color: $m-gray-d4;
   font-family: $font_family1;
   font-size: 24px;
   font-weight: 300;
   line-height: 34.8px;
   margin: 0px 0px 16.8px 0px;
   padding: 0px 0px 10.8px 0px;
   word-wrap: break-word;
   text-transform: none;
   letter-spacing: 0px;
 }

 .fieldbody {
   color: $gray-4;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   word-wrap: break-word;
   text-align:justify;
   text-decoration:none;
 }

 .fieldbody p {
   color: $gray-4;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin: 0px 0px 16px 0px;
   word-wrap: break-word;
 }

 .fieldheader{
   margin-bottom: 0px !important;
 }

 .fieldbody strong {
   color: $gray;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   word-wrap: break-word;
 }

 .fieldbody ul {
   color: $gray-4;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin: 0px 0px 16px 0px; 
   padding: 0px 0px 0px 40px;
   word-wrap: break-word;
 }

 .fieldbody li {
   color: $gray-4;
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   word-wrap: break-word;
 }

 .fieldbody a{
   font-family: $font_family1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-decoration: none;
   word-wrap: break-word;
 }
}
