## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
    <div class="colophon">
      <nav class="nav-colophon" aria-label="${_('About')}">
        <ol>
<!--
Release: IIMBx Ficus release
Description: Marketing URL added
Author: Nitin Ayer
Date: 23/07/2017-->
            <li class="nav-colophon-01">
              <a id="${_('blog')}" href="https://iimbxonline.wordpress.com" target="_blank">${_('Blog')}</a>
            </li><li class="nav-colophon-01">
              <a id="${_('faq')}" href="${marketing_link('FAQ')}">${_('FAQ')}</a>
            </li><li class="nav-colophon-01">
              <a id="${_('contact')}" href="${marketing_link('CONTACT')}">${_('Contact Us')}</a>
            </li>
        </ol>
      </nav>

      <div class="wrapper-logo">
<!--
Release: IIMBx Ficus release
Description: Platform logo added and text added
Author: Nitin Ayer
Date: 23/07/2017-->
        <p class="platform_footer_logo">
          <a href="${marketing_link('ROOT')}">
            <img src=${static.url('images/footerlogo.png')} alt="${_('{platform_name} Logo').format(platform_name=settings.PLATFORM_NAME)}">
          </a>
        </p>
	<p class="platform_text">${_("{platform_name}").format(platform_name=settings.PLATFORM_NAME)}'s vision is to create a positive social impact by offering world-class<br/>Massive Open Online Courses (MOOCs) for Management Education.</p>
      </div>
    </div>

<!--
Release: IIMBx Ficus release
Description: Social media links added
Author: Nitin Ayer
Date: 23/07/2017-->
    <div class="references">
      <nav class="nav-social">
        <ul>
          <li class="nav-social-01">
            <a href=${_('{platform_name}').format(platform_name=settings.PLATFORM_FACEBOOK_ACCOUNT)} target="_blank" rel="external">
              <img src="${static.url('images/social/ico-social-facebook.png')}" alt="${_('{platform_name} on Facebook').format(platform_name=settings.PLATFORM_NAME)}" />
            </a>
          </li><li class="nav-social-02">
            <a href=${_('{platform_name}').format(platform_name=settings.PLATFORM_TWITTER_ACCOUNT)} target="_blank" rel="external">
              <img src="${static.url('images/social/ico-social-twitter.png')}" alt="${_('{platform_name} on Twitter').format(platform_name=settings.PLATFORM_NAME)}" />
            </a>
          </li><li class="nav-social-03">
            <a href=${_('{platform_name}').format(platform_name=settings.PLATFORM_YOUTUBE_ACCOUNT)} target="_blank" rel="external">
              <img src="${static.url('images/social/ico-social-youtube.png')}" alt="${_('{platform_name} on YouTube').format(platform_name=settings.PLATFORM_NAME)}" />
            </a>
          </li>
        </ul>
      </nav>

      <nav class="nav-legal" aria-label="${_('Legal')}">
        <ul>
            <li class="nav-legal-01">
              <a href="${marketing_link('TOS')}" target="_blank">${_("Terms of Service and Honour Code")}</a>
            </li><li class="nav-legal-02">
              <a href="${marketing_link('PRIVACY')}" target="_blank">${_("Privacy Policy")}</a>
            </li><li class="nav-legal-03">
              <a href="https://www.iitbombayx.in/" target="_blank">${_("Platform supported by IITBombayX")}</a>
            </li>
        </ul>
      </nav>

      <div class="footer-about-openedx">
        <p>
          <a href="${footer['openedx_link']['url']}" target="_blank">
            <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="140" />
          </a>
        </p>
      </div>
    </div>
  </footer>
</div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
