## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
<!--
Release: Eucalyptus.3 for IIMB
Description: 1. If condition added to check which logo to display, on basis of student is logged in or not
	     2. logos changed from PNG to SVG format
Author: Nitin Ayer
Date: 14/04/2017-->
        % if user.is_authenticated():
                <img src=${static.url('images/headerlogo.svg')} alt="Home Page" />
        % else:
                <img class="logo_image_one" src=${static.url('images/headerlogo_institute.svg')} alt="Home Page" />
        % endif:
</%block>
