## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
<!--
Release: Eucalyptus.3 for IIMB
Description: If condition added to check which logo to display, on basis of student is logged in or not
Author: Nitin Ayer
Date: 06/03/2017-->
        % if user.is_authenticated():
                <img src=${static.url('images/headerlogo.png')} alt="Home Page" />
        % else:
                <img src=${static.url('images/headerlogo_institute.png')} alt="Home Page" />
        % endif:
</%block>
