## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>
<!-- IITBombayX - using custom variable name for theme name instead of hard coding -->
<!-- 06th Jan 2016 -->


## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <!--IITBombayX: Eucalyptus change: Logo URL path changed for comprehensive theming-->
  <img src=${static.url('images/headerlogo.png')} alt="Home Page" />
</%block>

