<%inherit file="../main.html" />
<%doc><%include file='../../modal/_modal-settings-language.html'/></%doc>
<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<!--IITBombayX: language setting commented as it is not required and microsite configuration removed-->
<!--IITBombayX: main.html and static_content.html file path changed-->
<!--Updated by Bab-->

<%block name="pagetitle">${_("How It Works")}</%block>

<%block name="bodyclass">how_it_works</%block><!--IITBombayX-2015 Nitin Ayer, block is added to identify CSS in SCSS files-->

<!--IITBombayX-29/12/2015, CSS for How It Works page is written in _how_it_works_en.scss inside themes folder by Nitin Ayer-->

<!--Updated by Bab-->
<html>
<head>
</head>

<body>
	<div class="outer_content">
		<div class="main_content">
			<div class="banner"><img src=${static.url('images/how-it-works/how-it-works_english.jpg')} width="960px"></div>
				<div class="container">
					<div class="newsline">${_('Study, have fun, uncover a new passion or learn skills that may just change your life.')}</div>
						<div class="cmsdata">

						<p class="banner_block_01" >
						<strong>Experience<br>Real Classroom <br>Learning</strong><br>
						Classroom<br>
						Experience<br>
						with dual benefits:<br>
						self-paced learning,<br>
                                                100% online courseware<br>
						and the flexibility <br>
						that you like coupled<br>
						with the virtual classroom<br>
                                                learning experience that you enjoy.<br><!--<br>Check out the new <a href="/courses/IIMBX/2015_2016/about" class="links-active" target="_blank">${_('{platform_name} Demo course').format(platform_name=settings.PLATFORM_NAME)}</a>.--></p>
						<!--IITBombayX: Demo course reference removed temporarily-->
						<p class="banner_block_02">
						<strong>Get Quality <br>Management Education </strong><br>
						Learn from some<br>
						of the best <br>
						bset Business Faculty <br>
						at IIMB through<br>& 
						our online courses.<br> Our specialized delivery<br> is tailored to to ensure that every<br>student masters the subject.</p>

						<p class="banner_block_03">
						<strong>Jump-start your Career</strong><br><br>
						Earn a certificate from<br>${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)}in various business &<br>
						management disciplines while you <br>
						study or work, to give your <br> 
						professional career the impetus it deserves.<br></p>

						
						<!--IITBombayX: Demo course reference removed temporarily-->
						<p class="learn_more_tagline"><!--Learn more: take the new
						   <a href="/courses/IIMBX/IIMBX/2015_2016/about" class="links-active" target="_blank">${_('{platform_name} Demo course').format(platform_name=settings.PLATFORM_NAME)}</a>
						   . -->More questions?&nbsp;<a href="${marketing_link('FAQ')}" class="links-active" target="_blank">Read our FAQ</a>
						</p>

						<h2 class="learner_tagline">Become an ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} learner, it's easy...</h2>
						<div class="outer_steps">
						<div class="inner_steps">
						<ul class="how-it-works-steps">
						<li><strong>Find your new course</strong>Search the Courses Page and explore topics and professors. We are always adding more.</li>
						<li><strong>Review and choose</strong>Read through the course prerequisites and time commitment, so you know what to expect.</li>
						<li><strong>Become an <font class="platform_name_small_caps">${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)}</font><br>learner</strong>Just click "Register Now". Both ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} and the classes are free. (Yes, really!)</li>
						<li><strong>Start studying and have fun</strong>Crack the virtual books, start studying and connect with others online - and have fun!</li>
                                                <div class="clearer"></div><!--IITBombayX-2016 Do not remove this DIV tag-->
						</ul>
						</div>
						</div>

						<div class="submit">
                                                   <input type="submit" value="Find a Course and Start Learning Now" onClick="location.href='/courses'"></input>

        					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
