<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<!--
Release: Eucalyptus.3 for IIMB
Description: language setting commented as it is not required
Author: Nitin Ayer
Date: 09/03/2017-->
<%doc><%include file='../../modal/_modal-settings-language.html'/></%doc>

<%block name="pagetitle">${_("Faculty Development Programme")}</%block>
<!--
Release: Eucalyptus.3 for IIMB
Description: bodyclass block added to write CSS in SCSS file and SCSS for this page is in _programme_overview.scss file in themes directory
Author: Nitin Ayer
Date: 09/03/2017-->
<%block name="bodyclass">programme_overview</%block>

<html>
<head>
</head>
<body>
<div class="outer_container">
	<div class="main_content">
		<div class="banner">
			<img class="main_banner" src=${static.url('images/faculty/faculty.png')}>
		</div>

		<div class="tagline">
			<h2>Faculty Development Programme</h2>
		</div>

		<div class="content">
			<div class="left_content">
				<div class="sidebar">
					<ul class="sidemenu">
						<li><a class="links-active" href="${marketing_link('FACULTY_OVERVIEW')}">Overview</a></li>
						<li><a class="links_sidebar" href="${marketing_link('FACULTY_DETAILS')}">Programme at a glance</a></li>
						<li><a class="links_sidebar" href="${marketing_link('FACULTY_FAQ')}">FAQ</a></li>
					</ul>
				</div>
			</div>

			<div class="right_content">
				<div class="right_content_text">
					<p>Today, students in management schools register for online courses to get a sound understanding of basic concepts in core and elective subjects. The learning grows exponentially in the classroom when faculty do a deep dive into each of the concepts learnt online.</p>
					<p>The Faculty Development Programme at IIMB aims to equip faculty with the ability to conduct blended courses that involve combining the online courses with in-class facilitation and teaching.</p>

					<div class="tagline_inner">
						<h2>Key Benefits to Learners</h2>
					</div>

					<div class="image_class_one">
						<img src=${static.url('images/faculty/faculty_image01.png')} />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
