<%inherit file="../main.html" />
<!--Bharat Moocs Added on 23 Sep for language option -->
<%doc><%include file='../../modal/_modal-settings-language.html'/></%doc>
<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<!--IITBombayX: language setting commented as it is not required and microsite configuration removed-->
<!--IITBombayX: main.html and static_content.html file path changed-->

<%block name="pagetitle">${_("About")}</%block>
<%block name="bodyclass">about_page_en</%block><!--IITBombayX-2016 Nitin Ayer, block is added to identify CSS in SCSS files-->
<!--IITBombayX-2016, CSS for this page is written in _about_page.scss inside theme folder by Nitin Ayer-->

<html>
<head>
</head>
<body>

<section class="container about">
	<div class="main_content">
		<div class="banner"><img src=${static.url('images/about-us.png')} width="1200px"></div>
    			<div class="wrapper">
       				<div class="wrapper-container">
       					<div class="wrapper-inner">
						<div class="tagline"><h2 class="tagline_text">Knowledge Anytime Anywhere</h2></div>
        					<div class="inner-class">
                					<div class="inner-content">
								<table border="0" width="1200px;" height="600px;" cellpadding="0" cellspacing="0">

								<tr>

								<!--<td class ="table_column01" width="217px" valign="top">
								<div class="sidebar">

								<ul class="sidemenu">
								<li><a class="links-active" href="${marketing_link('ABOUT_OVERVIEW')}">Overview</a></li>-->
							          <!--IITBombayX: Blog and News URL changed for IIMB-->
							          <!--IITBombayX: Research & Pedagogy and FAQ Links removed for IIMB-->
								<!--<li><a class="links" href="https://iimbxonline.wordpress.com/" target="_blank">BLOG</a></li>
								<li><a class="links" href="http://www.iimb.ernet.in/node/7383" target="_blank">NEWS</a></li>-->
								<!--<li><a class="links" href="${marketing_link('ABOUT_WHY')}">Why</a></li>
								<li><a class="links" href="${marketing_link('ABOUT_HOW')}">How</a></li>
								</ul>

								</div>
								</td>-->

								<td class ="table_column02" width="743px">
								<section class="inner-section">

								<!--<h2 class="field-page-tagline view-mode-full"><strong>Knowledge Anytime, Anywhere.</strong></h2>-->

								<div class="field-page-body view-mode-full">
                                                                <p><strong>About ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)}</strong></p>
								<p>${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} is founded on the philosophy that management education has the strong potential to transform our educational systems and that high quality education must be available to all unconstrained by limitations imposed by location, finances or prior educational background.</p>

								<p>The vision of the ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} programme is to enable learners across the world, and especially in India, to access a high quality learning experience led by the faculty at IIM Bangalore.</p>

								<p>Online programmes by ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} use technology to enable anytime, anywhere learning in a global classroom.</p>

								<p><strong>Upskill with Business Mastery from ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} / The ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} Advantage/ Redesign Careers Digitally</strong></p>
								<p>${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} is a fusion of knowledge from best-in-class business and management faculty and state-of-the-art educational technology at IIM Bangalore. <a class="links-active2"href="${marketing_link('COURSES')}">Digital courseware</a>  from ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} offers learners a collection of courses in subjects ranging from predictive analytics to customer relationship management and from foreign exchange markets to entrepreneurship.</p>
								<p>Online courses at ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} are designed to give students, working professionals and lifelong learners the opportunity to learn online from IIM Bangalore and upskill themselves for academic and professional careers.</p>

								<p><strong>Upgrade with Digitized Learning from ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} / The ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} Digital Classroom / Redefine Learning Virtually</strong></p>
								<p>Technology and management education come together at ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} to offer learners a well-balanced mix of multimedia courseware designed to bring to life the IIM Bangalore classroom experience in a virtual way. Participants can learn through an instructionally designed mix of lecture videos, online quizzes, multimedia cases, references, readings, forum interactions and live sessions flexibly at their own pace.</p>
								<p>The ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} motto of “knowledge anytime anywhere” allows participants to learn while at school or work without compromising on quality of education. Students at academic institutions as well as working professionals can earn the ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} certification through our <a class="links-active2" href="${marketing_link('PROGRAMMES_PAGE')}">academic and corporate partnership programmes.</a></p>
								</div>
								</section>
								</td>

								</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</section>

</body>
</html>
