<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<!--
Release: Eucalyptus.3 for IIMB
Description: language setting commented as it is not required
Author: Nitin Ayer
Date: 11/03/2017-->
<%doc><%include file='../../modal/_modal-settings-language.html'/></%doc>

<%block name="pagetitle">${_("Faculty Development Programme")}</%block>
<!--
Release: Eucalyptus.3 for IIMB
Description: bodyclass block added to write CSS in SCSS file and SCSS for this page is in _faculty_details.scss file in themes directory
Author: Nitin Ayer
Date: 11/03/2017-->
<%block name="bodyclass">faculty_details</%block>

<html>
<head>
</head>
<body>
<div class="outer_container">
	<div class="main_content">

		<div class="banner">
			<img class="main_banner" src=${static.url('images/faculty/faculty.png')}>
		</div>

		<div class="tagline">
			<h2>Faculty Development Programme</h2>
		</div>

		<div class="content">

			<div class="left_content">
				<div class="sidebar">
					<ul class="sidemenu">
						<li><a class="links_sidebar" href="${marketing_link('FACULTY_OVERVIEW')}">Overview</a></li>
						<li><a class="links-active" href="${marketing_link('FACULTY_DETAILS')}">Programme at a glance</a></li>
						<li><a class="links_sidebar" href="${marketing_link('FACULTY_FAQ')}">FAQ</a></li>
					</ul>
				</div>
			</div>

			<div class="right_content">
				<div class="right_content_text">
					<p class="answer">The FDP is conducted in a blended format with online and face-to-face components.</p>
					<div class="tagline_inner">
						<h2>Online Component</h2>
					</div>

					<p class="answer">The online MOOC course provides an overview of blended MOOCs.</p>

					<ul class="ul_class">
						<li>Prepare for the session by going through the pre-reads on how to blend online courses with in-class sessions</span></li>
						<li>Interact with fellow faculty before attending the face-to-face sessions</li>
					</ul>

					<div class="tagline_inner">
						<h2>Classroom Component</h2>
					</div>

					<p class="answer">The programme is designed to be a day-long event with multiple sessions and tracks.</p>

					<div class="classroom_components">
						<div class="components_one">
							<img src=${static.url('images/faculty/faculty_image05.png')} />
							<p>Blended Learning<br>Pedagogy</p>
						</div>
						<div class="components_two">
							<img src=${static.url('images/faculty/faculty_image05.png')} />
							<p>Blended&nbsp;MOOC<br>Orientation&nbsp;Sessions</p>
						</div>
						<div class="components_three">
							<img src=${static.url('images/faculty/faculty_image05.png')} />
							<p>Panel Discussions</p>
						</div>
						<div class="components_four">
							<img src=${static.url('images/faculty/faculty_image05.png')} />
							<p>Expert Talks</p>
						</div>
					</div>

					<div class="tagline_inner">
						<h2>FDP Sessions from ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)}</h2>
					</div>

					<div class="image_layer">
						<ul>
							<li>
								<img src=${static.url('images/faculty/faculty_image04.png')} />
								<div class="image_text">
									<p class="image_text_number">
									<span class="text_data_faculty">04</span></p>
									<h2 class="data_faculty">FDP Programmes</h2>
								</div>
							</li>
							<li>
								<img src=${static.url('images/faculty/faculty_image04.png')} />
								<div class="image_text">
									<p class="image_text_number">
									<span class="text_data_faculty">400+</span></p>
									<h2 class="data_faculty">Faculty</h2>
								</div>
							</li>
							<li>
								<img src=${static.url('images/faculty/faculty_image04.png')} />
								<div class="image_text">
									<p class="image_text_number">
									<span class="text_data_faculty">100+</span></p>
									<h2 class="data_faculty">Management Institutions</h2>
								</div>
							</li>
						</ul>
					</div>

					<div class="testimonial">
						<!--<p class="testimonial_title">Title</p>-->
						<p class="testimonial_quote">"The FDP-MOOCs @ IIMB (17 Dec 2016) was a stimulating experience to me a Faculty+ Learner; I shall integrate MOOCs now onwards more frequently. Gaining deeper insights on usage of MOOCs & Networking was good/ fruitful.”</p>
						<p class="testimonial_signature">- Dr.Nandeesh V. Hiremath, Professor (HR & Entrepreneurship), Indus Business Academy (IBA), Bangalore</p>
					</div>

					<div class="tagline_inner">
						<h2>Get Started</h2>
					</div>

					<div class="image_layer_two">
						<ul>
							<li>
								<img src=${static.url('images/faculty/faculty_image02.png')} />
								<div class="image_over_text_one">
									<p>Explore the</p>
									<p>${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} Platform</p>
									<p>by Taking our</p>
									<p><a class="links2" href="/courses/course-v1:IIMBx+IIMBDemox+Self-paced/about" target="_blank">Demo Course</a></p>
								</div>
							</li>
							<li>
								<img src=${static.url('images/faculty/faculty_image02.png')} />
								<div class="image_over_text_two">
									<p>Identify the <a class="links2" href="/courses" target="_blank">Courses</a></p>
								</div>
							</li>
							<li>
								<img src=${static.url('images/faculty/faculty_image02.png')} />
								<div class="image_over_text_two">
									<p><a class="links2" href="${marketing_link('CONTACT')}" target="_blank">Contact ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} team</a></p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
