<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<!--
Release: Eucalyptus.3 for IIMB
Description: language setting commented as it is not required
Author: Nitin Ayer
Date: 09/03/2017-->
<%doc><%include file='../../modal/_modal-settings-language.html'/></%doc>

<%block name="pagetitle">${_("About")}</%block>
<!--
Release: Eucalyptus.3 for IIMB
Description: bodyclass block added to write CSS in SCSS file and SCSS for this page is in _about.scss file in themes directory
Author: Nitin Ayer
Date: 13/03/2017-->
<%block name="bodyclass">about</%block>

<html>
<head>
</head>
<body>
<div class="outer_container">
	<div class="main_content">
		<div class="banner">
			<img class="main_banner" src=${static.url('images/about/about.png')}>
		</div>

		<div class="tagline">
			<h2>Anytime Anywhere Learning</h2>
		</div>
	</div>

	<div class="container_one">
		<div class="container_two">
			<div class="container_three">
			</div>
		</div>

		<div class="container_text_outer">
			<div class="container_text">
				<div class="about_text">
					<h2>About ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)}</h2>
					<p>${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} is founded on the philosophy that management education has strong potential to transform our educational systems and that high quality education must be available to all unconstrained by limitations imposed by location, finances or prior educational background.</p>
					<p>The vision of the ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} programme is to use digital learning to enable widespread access to management education. Led by the faculty at IIM Bangalore, ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} offers online courses and programmes covering core and advanced business and management subjects.</p>
					<p>Online programmes by ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} use technology to enable anytime, anywhere learning in a global classroom.</p>
				</div>

				<div class="about_video">
					<!--Release: Eucalyptus.3 for IIMB
					Description: Header logo size fixed
					Author: Nitin Ayer
					Date: 18/04/2017-->
					<iframe width="498" height="280" src="https://www.youtube.com/embed/n6x8Rfi7Usg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="outer_container">
		<div class="main_content">
			<ul>
				<li class="image_one">
					<div class="image">
						<img src=${static.url('images/about/about_image02.png')} />
						<p>1</p>
					</div>
					<div class="text">
						<p class="header_text">Best-in-class Business and Management Faculty</p>
						<p>${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} is a fusion of knowledge from best-in-class business and management faculty and state-of-the-art educational technology at IIM Bangalore.</p>
					</div>
				</li>
				<li class="image_two">
					<div class="image">
						<img src=${static.url('images/about/about_image02.png')} />
						<p>2</p>
					</div>
					<div class="text">
						<p class="header_text">Wide Range of Management Courses</p>
						<p>Digital courseware from ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} offers learners a collection of courses in subjects ranging from Predictive Analytics to Customer Relationship Management and from Foreign Exchange Markets to Entrepreneurship.</p>
					</div>
				</li>

				<li class="image_three">
					<div class="image">
						<img src=${static.url('images/about/about_image02.png')} />
						<p>3</p>
					</div>
					<div class="text">
						<p class="header_text">Opportunity to Upskill with IIMB</p>
						<p>Online courses at ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} are designed to give students, working professionals and lifelong learners the opportunity to learn online from IIM Bangalore and upskill themselves for academic and professional careers.</p>
						</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="container_four">
		<div class="container_five">
			<div class="container_six">
			</div>
		</div>

		<div class="container_text_outer">
			<div class="container_text_two">
				<div class="about_redefine">
					<h2>Redefine Learning Virtually</h2>
					<p>${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} offers management education using technology to learners through a well-balanced mix of multimedia courseware designed to bring to life the IIM Bangalore classroom experience in a virtual form. An instructionally designed mix of lecture videos, online quizzes, multimedia cases, references, readings, forum interactions and live sessions together contribute towards an effective and engaging learning experience that is flexible and self paced.</p>
					<p>Students at academic institutions as well as working professionals can earn the ${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} certification through our academic and corporate partnership programmes.</p>
				</div>

				<div class="about_gif_container">
					<div class="gif_video">
						<img class="gif_bg" src=${static.url('images/about/about_image01.png')} />
						<img class="gif_image" src=${static.url('images/about/about_image04.gif')} />
					</div>
					<div class="bullets">
						<ul>
							<li>Attend Virtual Classes</li>
							<li>Complete a Course in 6-8 Weeks</li>
							<li>Take Online Assessments</li>
							<li>Earn a Course Certificate</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="image_container">
		<div class="image_layer">
			<ul>
				<li>
					<img src=${static.url('images/about/about_image03.png')} />
					<p class="text_one">26+</p>
					<p class="text_two">Online Courses</p>
				</li>
				<li>
					<img src=${static.url('images/about/about_image03.png')} />
					<p class="text_one">1000+</p>
					<p class="text_two">Course Videos</p>
				</li>
				<li>
					<img src=${static.url('images/about/about_image03.png')} />
					<p class="text_one">100+</p>
					<p class="text_two">Industry Insight<br />Videos</p>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
