<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<!--
Release: Eucalyptus.3 for IIMB
Description: language setting commented as it is not required
Author: Nitin Ayer
Date: 09/03/2017-->
<%doc><%include file='../../modal/_modal-settings-language.html'/></%doc>

<%block name="pagetitle">${_("Faculty Development Programme")}</%block>
<!--
Release: Eucalyptus.3 for IIMB
Description: bodyclass block added to write CSS in SCSS file and SCSS for this page is in _programme_faq.scss file in themes directory
Author: Nitin Ayer
Date: 09/03/2017-->
<%block name="bodyclass">programme_faq</%block>

<html>
<head>
</head>
<body>
<div class="outer_container">
	<div class="main_content">
		<div class="banner">
			<img class="main_banner" src=${static.url('images/faculty/faculty.png')}>
		</div>

		<div class="tagline">
			<h2>Faculty Development Programme</h2>
		</div>

		<div class="content">
			<div class="left_content">
				<div class="sidebar">
					<ul class="sidemenu">
						<li><a class="links_sidebar" href="${marketing_link('FACULTY_OVERVIEW')}">Overview</a></li>
						<li><a class="links_sidebar" href="${marketing_link('FACULTY_DETAILS')}">Programme at a glance</a></li>
						<li><a class="links-active" href="${marketing_link('FACULTY_FAQ')}">FAQ</a></li>
					</ul>
				</div>
			</div>

			<div class="right_content">
				<div class="right_content_text">
					<h2 class="header_text_first">Enrollment</h2>
					<p class="question">How to enrol for this programme?</p>
					<p class="answer">IIM Bangalore offers Faculty Development Programmes at regular intervals throughout the year. For upcoming session details, visit Faculty Development at IIMB.</p>
					<h2 class="header_text">Exams and Certificates</h2>
					<p class="question">Is this a certified programme?</p>
					<p class="answer">${_('{platform_name}').format(platform_name=settings.PLATFORM_NAME)} participation certificate on <strong>Using Blended MOOCs in Management</strong> is provided to learners.</p>
					<h2 class="header_text">Any other queries?</h2>
					<p class="answer">For any other queries, check General <a class="links-active2" href="${marketing_link('FAQ')}" target="_blank">FAQ</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
